@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Mono|Lexend+Deca|Lexend+Exa');

body {
    background-color: #1f1f1f;
    animation-duration: 3s;
    margin: 0;
    padding: 0;
}

.content {
    height: 90vh;
    display: flex;

    width: 1000px;
    margin: 0 auto;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

.unh {
    font-size: 12px;
    color: gray;
}

header {
    white-space: nowrap;
    border-bottom: 1px solid white;
}

header ul {
    list-style: none;
}

.margin {
    margin-right: 2rem;
}

header li {
    display: inline-block;
}

header, footer {
    height: auto;
}

main {
    flex: 1;
}

p, h1, h2, h3, h4, h5, h6, li, ul {
    color: white;
    font-family: "Roboto", sans-serif;
}

h2, h3, h4, h5, h6, p {
    font-weight: lighter;
}

a {
    color: #9b9b9b;
}
ul {
    list-style-type: none;
}