@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #1f1f1f;
    animation-duration: 3s;
    text-align: center;
}

p, h1, h2, h3, h4, h5, h6, span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#nav {
    float: left !important;
}

#back-button {
    color: white;
    text-decoration: none;
}

#games {
    display: flex;
    flex-direction: column-reverse;
}

.game {
    margin: 16px;
}

.game-text {
    font-size: 18px;
}

.game-win {
    color: lightgreen;
}

.game-date {
    font-size: 14px;
    color: gray;
}

.game-loss {
    color: lightcoral;
}