@import url('https://fonts.googleapis.com/css?family=Manrope:wght@300;400;500;600');

body {
    background-color: #1f1f1f;
    animation-duration: 3s;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.motd span {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.topic-info {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: -1rem;
}

a {
    color: #9b9b9b;
}

.links {
    margin-top: -2rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.links a {
    text-decoration: none;
}

.head {
    text-align: center;
    margin-top: 2rem;
    animation-duration: 3s;
}

.title {
    font-family: 'Manrope', sans-serif;
    font-size: 72px;
    font-weight: 600;
    animation-delay: 1s;
    margin-top: 16rem;
}

/** MOTD Stuff */
.motd {
    margin-top: -2rem!important;
}

.motd-topic {
    margin-bottom: 5rem;
}