@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Mono|Lexend+Deca|Lexend+Exa');

body {
    background-color: #1f1f1f;
    animation-duration: 3s;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.motd {
    color: #D89DE3;
}

.motd span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: normal;
}

a {
    color: #9b9b9b;
}

ul {
    list-style-type: none;
}

/* Makes the entries closer together */
.list-entry {
    margin-top: -1rem;
}

/** Head of the page. */
.head {
    text-align: center;
    margin-top: 2rem;
    animation-duration: 3s;
}

.title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 72px;
    animation-delay: 1s;
}

/** MOTD Stuff */
.motd {
    margin-top: -2rem!important;
}

.motd-topic {
    margin-bottom: 5rem;
}

/* topic stuff */
.topic {
    margin-top: 4rem;
}

.topic-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
}

.topic-info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: -1rem;
}